*{
    background: blueviolet;
    margin: 0;
    padding: 0;

}
.nome{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: antiquewhite;
    
}
.imagem01{
    border-radius: 100%;
    height: 300px;
    width: 300px;
}